$nav_color: #B9CCD5 ;
$nav_hover_color: #4478A7;
$home_color: #7FA6C0;
$about_color: #7FA6C0;
$skills_color:#4478A7;  
$contact_color: #00446F;
$footer_color:#0D122E;

//Text color
$important_keywords_color: #00446F;
$title_color: lightpink;
$text_color: aliceblue;

